.nav-header {
    min-height: 53px;
    background: linear-gradient(180deg, rgba(73,73,73,0.7483368347338936) 5%, rgba(51,51,51,0.8995973389355743) 50%, rgba(73,73,73,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494949",endColorstr="#494949",GradientType=1);
}

.nav-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.nav-header ul > li {
    display: inline-block;
}

.nav-header li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-header li a:hover {
    background: linear-gradient(180deg, rgba(73,73,73,0) 5%, rgba(17,17,17,1) 50%, rgba(73,73,73,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494949",endColorstr="#494949",GradientType=1);
}