.sidenav {
    min-height: 85vh;
    min-width: 150px;
    position: absolute;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 8px;
}

.sidenav a {
    background: #292929;
    padding: 8px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    display: block;
}

.sidenav a:hover {
    color: lightgray;
    background: #111111;
}

.item {
    margin-top: 2px;
}

.item-last {
    margin-top: 32px;
}

[role=inactive] {
    border-right: 5px transparent solid;
}

[role=active] {
    border-right: 5px lightskyblue solid;
    pointer-events: none;
}

/* Style page content */
.main {
    margin-left: 150px; /* Same as the width of the sidebar */
    padding: 0 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}