.frame-outer {
    position: relative;
    overflow: hidden;
    width: 43.125%;
    background-color: yellow;
}

iframe {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    max-height: 30vh;
    border: 0;
}