.frame-outer {
    position: relative;
    overflow: hidden;
    margin: auto;
    max-height: 30vh;
    background-color: #111111;
}

iframe {
    margin: auto;
    width:100vw;
    aspect-ratio: 100/43.0;
    border: 0;
}