
.page-footer {
    margin-top: 50px;
    padding-top: 50px;
    background-color: red;
    backface-visibility: hidden;
    color: white;
    position: relative;
    z-index: 1;
    min-height: 500px;
}

.section {
    background: #333333;
    position: relative;
}

.center {
    max-width: 1440px;
}

.page-footer:before {
    background-image: url("src/res/footer-texture3.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 1000px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: -1;
}

*, :after, :before {
    box-sizing: border-box;
}

img.logo {
    content: url("src/res/unilogo-map-gray-clean.svg");
    background-repeat: no-repeat;
    margin-left: 150px;
    width: 10vw;
}

/*.footer-outer {
    position: fixed;
    height:200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background:
            #333333
            linear-gradient(
            180deg,
            rgba(73,73,73,1) 0%,
            rgba(51,51,51,0.9) 50%,
            rgba(73,73,73,1) 100%);
    color: white;
    text-align: center;
}
*/