.login {
    box-shadow: #333333 0 0 20px;
    border-radius: 5%/10%;
    margin: 5vh auto;
    padding: 36px 72px;
    width: fit-content;
    background-color: whitesmoke;
    display: grid;
    place-items: center;
}

fieldset {
    border: 0;
}

.default form, .default table, .default tr, div>table {
    background: transparent;
    color: black;
}

.login .authError {
    color:#ff0033;
    font-size: 12px;
}

.login form {
    text-align: center;
}

.login tr {
    background-color: whitesmoke;
}

.submit td {
    text-align: center;
}

.inputText {
    text-align: center;
}