.login {
    box-shadow: #333333 0 0 20px;
    border-radius: 5%/10%;
    margin: 5vh auto;
    padding: 36px 72px;
    width: fit-content;
    background-color: whitesmoke;
    display: grid;
    place-items: center;
}

.login form {
    text-align: center;
}

.login tr {
    background-color: whitesmoke;
}

.submit td {
    text-align: center;
}

.inputText {
    text-align: center;
}