@import './TablePagination.css';

.div-table {
    font-family: Veranda, sans-serif;
    margin: auto;
    display: table;
    width: 100%;
    background-color: transparent;
    padding: 16px;
    border-radius: 15px;
    border-spacing: 5px;
}
.div-table-header {
    font-size: 18px;
    font-weight: bold;
    display: table-row;
    clear: both;
    color: whitesmoke;
    background-color: #333333;
    border-radius: 15px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.div-table-header> .div-table-col {
    color: whitesmoke;
}

.div-table-row {
    padding: 4px;
    font-size: 14px;
    display: table-row;
    clear: both;
    background-color: #eeeeee;
    border-radius: 15px;
    margin: auto;
    columns: fit-content;
}
.div-table-row:nth-child(odd) {
    display: table-row;
    clear: both;
    border-color: #666666;
    background-color: #dddddd;
}

.div-table-col {
    margin: auto;
    width: 100%;
    float: left; /* fix for  buggy browsers */
    display: table-column;
    overflow-x: auto;
}

.div-table-col-content {
    display: table-cell;
}

.div-table-button-wrapper {
    display: flex;
}

.div-table-button {
    all: unset;
    border-width: 2px;
    border-color: #333333;
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    background-color: #eeeeee;
    color: #333333;
}

.div-table-button:hover {
    background-color: #333333;
    color: whitesmoke;
    cursor: pointer;
}

.div-list-item:hover {
    background-color: #3d3d3d;
}

.div-table-button:hover .div-table-button-content{
    background-color: #333333;
    color: whitesmoke;
}

.div-mailTo:hover {
    text-underline: #406e8a;
    text-decoration: underline ;
    cursor: pointer;
}

.div-table-col-segment {
    border-left: 1px solid;
}