div .main-container {
    min-height: 80vh;
    height: 100%;
    padding: 0;
    text-align: center;
    background-color: #eeeeee;
}

.main {
}

div .main-header {
    margin: 0;
}

div .inner-header {

}

div .main-body {
    text-align: center;
    display: flex;
}

div .inner-body {
    flex-grow: 1;
    position: relative;
    float: left;
    padding: 2%;
}

div .inner-body-constraints {
    margin: auto;
    text-align: center;
    max-width: 85%;
}

div .main-footer {

}

div .inner-footer {
    padding-top: 50px;
    background-color: #333333;
    backface-visibility: hidden;
    color: white;
    position: relative;
    z-index: 1;
    min-height: 500px;
}

div .inner-footer-constraints {
    margin: auto;
    max-width: 85%;
}

.section {
    background: #333333;
    position: relative;
}

.center {
    max-width: 1440px;
}

.inner-footer:before {
    position: absolute;
    background-image: url('./../res/footer-texture3.svg');
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 1000px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    top: -19px;
    width: 100%;
    z-index: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

img.logo {
    content: url("./../res/unilogo-map-gray-clean.svg");
    background-repeat: no-repeat;
    width: 10vw;
}
