
.background-color-primary {
    background-color: #f4f5f8;
}

div .main-container {
    height: 100%;
    padding: 0;
    text-align: center;
    background-color: #eeeeee;
    width: 100%;
}

.main {
    width: 100%;
}

div .main-header {
    margin: auto;
}

div .inner-header {

}

div .main-body {
    text-align: center;
    display: flex;
    min-height: 80vh;
    background-color: #dfe5ec;
}

div .inner-body {
    flex-grow: 1;
    position: relative;
    float: left;
    padding-bottom: 50px;
}

div .inner-body-constraints {
    margin: auto;
    text-align: center;
    max-width: clamp(720px, 100%, 1080px);
}

.main-footer {
}

.inner-footer {
    padding-top: 50px;
    background-color: #051e35;
    backface-visibility: hidden;
    color: white;
    position: relative;
    z-index: 1;
    min-height: 500px;
}

div .inner-footer-constraints {
    margin-left: 150px;
    max-width: 85%;
}

.section {
    position: relative;
}

.center {
    max-width: 100vw;
    margin-left: 0;
}

.inner-footer:before {
    position: absolute;
    background-image: url('./../res/footer-texture3.svg');
    filter: brightness(0) saturate(100%) invert(12%) sepia(43%) saturate(810%) hue-rotate(165deg) brightness(95%) contrast(105%);
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 1000px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    top: -19px;
    width: 100%;
    z-index: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

img.logo {
    content: url("./../res/unilogo-map-gray-clean.svg");
    filter: invert(100%);
    background-repeat: no-repeat;
    min-width: 100px;
    max-width: 250px;
    display: block;
}

.img-graduation-class {
    content: url("./../res/graduatingclass2023.png");
    background-size: cover;
    height: fit-content;
    width: 100%;
}
