@import './TablePagination.css';

div>.request-table {
    background-color: #333333;
    border-radius: 5px;
    display: grid;
    place-items: center;
    border-collapse: collapse;
}

.request-table {
    border:solid #333333 1px;
    border-radius:10px;
    width: 100%;
}

tr {
    max-height: 20px;
    border: 1px solid #555555;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
tr:nth-child(even) {
    background-color: #cccccc;
}

th {
    white-space: nowrap;
    background-color: #333333;
    color: #eeeeee;
    border: 2px solid #555555;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: bold;
}

td {
    font-size: 13px;
    font-family: Verdana, serif;
    border: 1px dotted #555666;
    padding: 4px;
    overflow-x: auto;
}

td > div {
    background-color: transparent;
    overflow-y: hidden;
    height: 50px;
    color: #333333;
}