
.sidenav {
    display: inline-block;
    min-height: 100%;
    min-width: 150px;
    width: 10vw;
    max-width: 200px;
    background-color: #051e35;
    overflow-x: hidden;
    padding-top: 8px;
    float: left;
    z-index: 0;
}

.navLink {
    background:/* #122c44;*/ /*#292929;*/ #041726;
    padding: 8px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-size: 22px;
    display: block;
    position: relative;
    -webkit-user-drag: none;
    user-select: none;
    border-style: solid;
    border-width: 2px;
    border-color: #0b2844;
    border-left: 0;
    border-bottom: 0;
    z-index: 1;
}

.sidenav .navLink:hover, a:hover, .navLink:hover  {
    color: lightgray;
    background: /*#072a49;*/ #2d455b;
}

.navLink > .navLink-children {
    background: #263e52;
    padding: 4px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
}

.navLink-children {
    visibility: hidden;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    margin-bottom: 4px;
}

.navLink-child {
    z-index: 0;
    background: /*#0c3d65;*/ #1f364b;
    color: #eeeeee;
    /*margin-bottom: 1px;*/
    padding: 4px;
    border-radius: 5px;
    margin: 2px 4px 2px;
}

.navLink-child:last-child {
    margin-bottom: 8px;
}

#inactive {
    visibility: collapse;
    height: 0;
    padding: 0;
    opacity: 0;
}

#active {
    z-index: 10;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
    visibility: visible;
    transition-delay: 0s;
    opacity: 1;
    animation: fly-in .3s ease-out;
}

@keyframes fly-in {
    0%   {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.item {
    margin-top: 2px;
}

.sidenav> .item-nested {
    background: #406e8a;
    margin-left: 8px;
    margin-bottom: 16px;
}

.item-last {
    margin-top: 32px;
}

[role=inactive] {
    border-right: 5px transparent solid;
}

[role=active] {
    border-right: 5px whitesmoke solid;
    background-color: /*#072a49;*/ #2b465d;
    /*pointer-events: none;*/
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .navLink {font-size: 18px;}
}