.sidenav {
    min-height: 85vh;
    min-width: 150px;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 8px;
    float: left;
    z-index: 0;
}

.sidenav a {
    background: #292929;
    padding: 8px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
}

.sidenav button {
    all:unset;
    width:100%;
    background: #292929;
    padding: 8px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
}

.sidenav a:hover, button:hover  {
    color: lightgray;
    background: #111111;
}

.item {
    margin-top: 2px;
}

.sidenav> .item-nested {
    background: #406e8a;
    margin-left: 8px;
    margin-bottom: 16px;
}

.item-last {
    margin-top: 32px;
}

[role=inactive] {
    border-right: 5px transparent solid;
}

[role=active] {
    border-right: 5px lightskyblue solid;
    pointer-events: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}