.frame-outer {
    display: flex;
    overflow: hidden;
    height: 30vh;
}

.banner-video-wrapper {
    background-color: transparent;
}

.banner-video {
    aspect-ratio: 100/43.0;
    border: 0;
    width:100vw;
    overflow:hidden; /* for html5 browsers the html attribute is depreciated */
    background:gold;
}